<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>使用组件形式的todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="handleAdd">提交</button>
        <ol>
            <!-- <li v-for="(item,index) in list" :index="index" v-on:click="deleteVal(index)">{{item}}</li> -->
            <todo-item v-for="(item,index) in list" :key="index" :content="item" :index="index" @delete="deleteVal"></todo-item>
        </ol>
    </div>


    <script>
        // 创建全局注册（子组件）
        // Vue.component('todo-item', {
        //     // props用注册的组件的自定义属性，从父组件接受什么内容
        //     props: ['content', 'index'],
        //     template: '<li @click="handleClick">{{content}}</li>',
        //     methods: {
        //         handleClick: function () {
        //             this.$emit('delete', this.index)
        //         }
        //     }
        // })

        // 局部组件
        var todoItem = {
            props: ['content', 'index'],
            template: '<li @click="handleClick">{{content}}</li>',
            methods: {
                handleClick: function () {
                    this.$emit('delete', this.index)
                }
            }
        }

        var app = new Vue({
            el: '#app',
            data: {
                inputValue: '',
                list: []
            },
            components: {
                // 注册局部组件
                todoItem: todoItem
            },
            methods: {
                handleAdd: function () {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                },
                deleteVal: function (index) {
                    this.list.splice(index, 1)
                }
            }
        })

    </script>
</body>

</html>