<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简单的vue-todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="handleAdd">提交</button>
        <ol>
            <li v-for="(item,index) in list" :index="index" v-on:click="deleteVal(index)">{{item}}</li>
        </ol>
    </div>


    <script>
        // M层
        // V层
        // VM层
        // 只需要关注M层就好（面向数据进行编程，极大简化了DOM）
        var app = new Vue({
            el: '#app',
            data: {
                inputValue: '',
                list: []
            },
            methods: {
                handleAdd: function () {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                },
                deleteVal: function (index) {
                    this.list.splice(index, 1)
                }
            }
        })

    </script>
</body>

</html>